<div id="head"> <a href="/"><h1>SAWIT Educate To Empower</h1></a> </div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<div class="profile" id="table">
<table class="table" id="profileList" id="table"> 
  <!--button class="btn btn-primary" id="print">Print</button-->
<!--a href="/"><h1 align="center">SAWIT Learner Details</h1></a--> 
        
    <h3 class="text-center">learners Profile</h3>  
    {{#if administrator}} 
    <div  class="dropdown">
    	<button type="button" class="dropbtn" >DropDown Search</button>
        <div class="dropdown-content">
          <a href="/Name">Search By Name</a>
          <a href="/surname">Search By SurName</a>
          <a href="/gender">Search By gender</a>
          <a href="/race">Search By Race</a>
          <a href="/Language">Search By Language</a>
          <a href="/address">Search By Address</a>
          <a href="/course">Search By Course</a>
          <a href="/location">Search By Location</a>
          <a href="/graduate">Search By Graduated</a>
          <a href="/facilitator">Search By Facilitators</a>
          <a href="/">Back to Main Menu</a>
          <a href="/learner">Back to Learners List</a>
          <a href="/lecturer">Back to Lecturers List</a>
        </div>
    </div>

    <button type="button" class="dropbtn" id="mainmenu" onclick="location.href='/'">Back To Main Menu</button>
  	</div> 
    <export  type="button" class="btn">Export</export>
  		<form>
    		<input class ="searchBar" id ="profilesSearchBar" placeholder="Learner Interest" type ="text" name="learnerProfile"></input>
   		</form> 

   		<span class="btn btn-info btn-lg" class="glyphicon glyphicon-search">Search</span> 
        
      <tbody>
          <tr>
            <td class=".col-md-1">Cellar</td><td class=".col-md-1">Dairy</td><td class=".col-md-1">Deciduous</td><td class=".col-md-1">Export</td><td class=".col-md-1">Field</td><td class=".col-md-1">Fruit</td>
             {{#data}}
        <tr>
              <td class=".col-md-1">{{cellar}}</td><td class=".col-md-1">{{dairy}}</td><td class=".col-md-1">{{deciduous}}</td><td class=".col-md-1">{{exports}}</td><td class=".col-md-1">{{fields}}</td><td class=".col-md-1">{{fruit}}</td>
        </tr>
        {{/data}}
          </tr>
          <tr>
            <td class=".col-md-1">Logistic</td><td class=".col-md-1">Marketing</td><td class=".col-md-1">Packeging</td><td class=".col-md-1">Tourism</td><td class=".col-md-1">Vegetable</td><td class=".col-md-1">Wine</td>
          </tr>
         {{#data}}
        <tr>
              <td class=".col-md-1">{{logistic}}</td><td class=".col-md-1">{{marketing}}</td><td class=".col-md-1">{{packaging}}</td><td class=".col-md-1">{{tourism}}</td><td class=".col-md-1">{{vegetable}}</td><td class=".col-md-1">{{wine}}</td>   
         </tr>
          {{/data}}   
      <thead>

  		<thead>
      	<tr>
      			<th class=".col-md-4">Surname</th><th class=".col-md-4">Name</th><th class=".col-md-4">Learner Interest</th><th class=".col-md-4">Education Level</th><th class=".col-md-4">Dependancy</th>
    		</tr>
  		</thead>
		<tBody>
				{{#learner}} 
        
			<tr>
  				<td>{{surname}}</td><td>{{Name}}</td><td>{{interest}}</td><td>{{education}}</td><td>{{dependancy}}</td><td><a href="/learner/deleteProfile/{{Idnumber}}">Delete</a></td>
      </tr>
				{{/learner}}
	</tbody> 
</table>
{{else}}
      <h1>SORRY, YOU HAVE TO BE ADMINISTRATOR!</h1>
{{/if}}
</div>