<table class="table" id="locationVenuesList">
    <tr>
        <th>ID Number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Location</th>
        <th>Date Of Dropout</th>
        <th>Reasons</th>
        
    </tr>                          
    {{#learnerDropOut}} 
        <tr>
            <td>{{Idnumber}}</td><td>{{Name}}</td><td>{{surname}}</td><td>{{locationVenue}}</td><td>{{date}}</td><td>{{reason}}</td><td><a href="/learnerDropOut/editLearnerDropOut/{{Idnumber}}">Edit</a></td><td><a href="/learnerDropOut/deleteLearnerDropOut/{{Idnumber}}">Delete</a></td>
      </tr>
    {{/learnerDropOut}}               
</table>