<div id="head"> <a href="/"><h1>SAWIT Educate To Empower</h1></a> </div>
<div  id="viewprofile">
<div class="container">
<h3 class="text-center">Display a learner Wine Industry option</h3>
<script type="text/javascript">
var checked= function(){
  var isCheck = false;
    if(fields === '1' || wine === '1' || cellar === '1' || marketing === '1' || receptionist === '1' || packaging === '1' || exports ==='1' || tourism === 1) {
        isCheck = true;
    }
</script>
{{#data}}
<form id='formInd' class="form-content" method="GET" action="/learner/display/{{Idnumber}}"> 
  <section>
  <label>
    {{#if fields}}
    field
    <input type="checkbox" name = "fields" value = "((fields}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "fields" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if wine}}
    Wine
    <input type="checkbox" name = "wine" value = "{{wine}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "wine" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if cellar}}
    Cellar
    <input type="checkbox" name = "cellar" value = "{{cellar}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "cellar" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if marketing}}
    Marketing
    <input type="checkbox"  name="vy" value = "{{marketing}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "marketing" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if receptionist}}
    Receptionist
    <input type="checkbox"  name="receptionist" value = "{{receptionist}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "receptionist" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if packaging}}
    Packaging
    <input type="checkbox"  name="packaging" value = "{{packaging}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "packaging" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if exports}}
    Export
    <input type="checkbox"  name="exports" value = "{{exports}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "exports" readOnly>
    {{/if}}
  </label>

  <label>
    {{#if logistic}}
    Logistic
    <input type="checkbox"  name="logistic" value = "{{logistic}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "logistic" readOnly>
    {{/if}}
  </label>

  <label>
    {{#if tourism}}
    Tourism
    <input type="checkbox"  name="tourism" value = "{{tourism}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "tourisms" readOnly>
    {{/if}}
  </label>

<div>
  <input id="bt" action="action" type="submit" value="Exit" onclick="history.go(-1);"/>
</div>
</section>
	
</form>
{{/data}}
</div>
</div>