<div id="head"> <a href="/"><h1>SAWIT Educate To Empower</h1></a> </div>
<div  id="viewprofile">
<div class="container">
<h3 class="text-center">Display a learner Fruit And vegetable Option</h3>
<script type="text/javascript">
var checked= function(){
  var isCheck = false;
    if(fruit === '1' || dairy === '1' || vegetable === '1' || berry === '1' || deciduous === '1') {
        isCheck = true;
    }
</script>
{{#data}}
<form id='formFruit' class="form-content" method="GET" action="/viewFruitVeg/{{Idnumber}}"> 
  <section>
  <label>
    {{#if fruit}}
    Fruit
    <input type="checkbox" name = "fruit" value = "((fruit}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "fruit" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if dairy}}
    Dairy
    <input type="checkbox" name = "dairy" value = "{{dairy}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "dairy" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if vegetable}}
    Vegetable
    <input type="checkbox" name = "vegetable" value = "{{vegetable}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "vegetable" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if berry}}
    Berry
    <input type="checkbox"  name="berry" value = "{{berry}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "berry" readOnly>
    {{/if}}
  </label>
  <label>
    {{#if deciduous}}
    Deciduous
    <input type="checkbox"  name="deciduous" value = "{{deciduous}}" checked readOnly>
    {{else}}
    <input type="checkbox" name = "deciduous" readOnly>
    {{/if}}
  </label>

<div>
	<input id="bt" action="action" type="submit" value="Exit" onclick="history.go(-1);"/>
</div>
</section>
</form>
{{/data}}
</div>
</div>